.CurrentUser {
  width: 100%;
}

.TeamSelection {
  width: 370px;
  display: block;
  margin: auto;
}

.TeamSelection__heading {
  text-align: center;
  margin-top: 20px;
}

.team-panel {
  margin: 10px 0 0 5px;
}

.button-wrapper {
  text-align: center;
  margin-top: 30px;
}
