.player {
  background-color: #B80002;
  color: white;
  display: inline-block;
  width: 130px;
  padding: 3px;
  border-radius: 10%;
  font-size: 12px;
}

.hidden {
  display: none;
}

.isHovered {
  background-color: yellow;
}
