.SignInPage {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("http://nnimgt-a.akamaihd.net/transform/v1/resize/frm/storypad-fCYJja9iKCnEpjnTRSxRRL/ecc569a3-eb92-46fd-a633-e938c756d490.jpg/w1200_h678_fmax.jpg");
}

.SignInPage__wrapper__SignIn {
  margin-top: 20px;
}
